$color-blanco: #fff;
$color-fondo: hsl(0, 0%, 98%);
$color-rojo: hsl(0, 78%, 62%);
$color-azul-marino: hsl(180, 62%, 55%);
$color-azul: hsl(212, 86%, 64%);
$color-amarillo:hsl(34, 97%, 64%);
$color-titulos: hsl(234, 12%, 34%);
$color-parrafos: hsl(229, 6%, 66%);

